.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-CYLr_YzvuZ1f);
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  height: var(--token-b3ePK0dgkeOT);
  width: var(--token-b3ePK0dgkeOT);
  border-radius: 99px;
  border: 1px solid var(--token--0dnbnLPA8z8);
}
.root[data-hovered]:global(.__wab_instance) {
  border-width: 2px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token--0dnbnLPA8z8);
  outline-offset: 1px;
}
