.mainPage {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #2c2c32;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mainPage {
    padding: 0px 2px;
  }
}
.freeBox__pllGz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.socialMediaContainer {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 5%;
  height: 100%;
  max-width: 100%;
  row-gap: 40px;
  min-height: 0;
  padding: 0px 2px 80px 4px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .socialMediaContainer {
    animation: none;
    column-gap: 30px;
    justify-content: flex-end;
    width: 10%;
    padding-right: 0px;
    padding-left: 0px;
    align-items: flex-start;
    row-gap: 10px;
    padding-bottom: 35px;
  }
}
.linkedinLink {
  animation: none;
  display: flex;
  color: var(--token-1x_miFpHp2xC);
  width: auto;
  height: auto;
}
.svg__hklGa {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: #aab1cb;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__hklGa {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
  }
}
.githubLink {
  animation: none;
  display: flex;
  color: var(--token-1x_miFpHp2xC);
  width: auto;
  height: auto;
}
.svg___9Xn7 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: #aab1cb;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___9Xn7 {
    width: 35px;
    height: 35px;
    max-width: 100%;
    color: #aab1cb;
    flex-shrink: 0;
  }
}
.instagramLink {
  animation: none;
  display: flex;
  color: var(--token-1x_miFpHp2xC);
  width: auto;
  height: auto;
  justify-content: flex-start;
  align-items: stretch;
}
.svg__o9DFh {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  color: #aab1cb;
  height: 50px;
  width: 50px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__o9DFh {
    width: 35px;
    height: 35px;
    max-width: 100%;
    color: #aab1cb;
    flex-shrink: 0;
  }
}
.facebookLink {
  animation: none;
  display: flex;
  width: auto;
  height: auto;
  color: var(--token-1x_miFpHp2xC);
}
.svg__ohSb5 {
  animation: none;
  object-fit: cover;
  max-width: 100%;
  width: 50px;
  height: 50px;
  color: #aab1cb;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__ohSb5 {
    width: 35px;
    height: 35px;
    max-width: 100%;
    color: #aab1cb;
    flex-shrink: 0;
  }
}
.freeBox___15HVv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 95%;
  height: 100%;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___15HVv {
    width: 90%;
    height: 100%;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    min-height: 0;
  }
}
.freeBox__m2Nvo {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  padding: 15px 50px 10px 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m2Nvo {
    animation: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    height: auto;
    min-width: 0;
    padding: 10px 0px 0px;
  }
}
.pagesLinksContainer {
  animation: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 22px;
  width: auto;
  color: var(--token-1x_miFpHp2xC);
  font-family: "Lora", serif;
  height: auto;
  flex-shrink: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .pagesLinksContainer {
    animation: none;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2px;
    padding-bottom: 9px;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-content: flex-start;
    column-gap: 2px;
    min-width: 0;
    min-height: 0;
  }
}
.link__gexrx {
  animation: none;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-top: 5px;
  padding-left: 0px;
  font-family: "Audiowide";
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  color: #aab1cb;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  white-space: pre;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-bottom: 5px;
  letter-spacing: normal;
  border-bottom: 3px solid #aab1cb;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__gexrx {
    font-size: 11px;
    display: none;
  }
}
.projects {
  animation: none;
  color: #aab1cb;
  font-family: "Audiowide";
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  height: auto;
  padding-top: 5px;
  padding-left: 0px;
  width: auto;
  max-width: 100%;
  padding-bottom: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .projects {
    width: auto;
    height: auto;
    max-width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    font-family: "Audiowide";
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    color: #aab1cb;
    text-align: left;
    text-transform: none;
    line-height: 1.5;
    letter-spacing: normal;
    white-space: pre;
    user-select: text;
    text-decoration-line: none;
    text-overflow: clip;
  }
}
.aboutLink {
  animation: none;
  color: #aab1cb;
  font-family: "Audiowide";
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.5;
  white-space: pre;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  height: auto;
  padding-top: 5px;
  padding-left: 0px;
  width: auto;
  max-width: 100%;
  padding-bottom: 5px;
  letter-spacing: normal;
}
@media (min-width: 0px) and (max-width: 768px) {
  .aboutLink {
    width: auto;
    height: auto;
    max-width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    font-family: "Audiowide";
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    color: #aab1cb;
    text-align: left;
    text-transform: none;
    line-height: 1.5;
    letter-spacing: normal;
    white-space: pre;
    user-select: text;
    text-decoration-line: none;
    text-overflow: clip;
  }
}
.skills {
  animation: none;
  color: #aab1cb;
  font-family: "Audiowide";
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  height: auto;
  padding-top: 5px;
  padding-left: 0px;
  width: auto;
  max-width: 100%;
  padding-bottom: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .skills {
    width: auto;
    height: auto;
    max-width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    font-family: "Audiowide";
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    color: #aab1cb;
    text-align: left;
    text-transform: none;
    line-height: 1.5;
    letter-spacing: normal;
    white-space: pre;
    user-select: text;
    text-decoration-line: none;
    text-overflow: clip;
  }
}
.resume {
  animation: none;
  color: #aab1cb;
  font-family: "Audiowide";
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  height: auto;
  padding-top: 5px;
  padding-left: 0px;
  width: auto;
  max-width: 100%;
  padding-bottom: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .resume {
    width: auto;
    height: auto;
    max-width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    border-bottom-style: solid;
    border-bottom-color: #aab1cb;
    font-family: "Audiowide";
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    color: #aab1cb;
    text-align: left;
    text-transform: none;
    line-height: 1.5;
    letter-spacing: normal;
    white-space: pre;
    user-select: text;
    text-decoration-line: none;
    text-overflow: clip;
  }
}
.contact2 {
  animation: none;
  color: #aab1cb;
  font-family: "Audiowide";
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  height: auto;
  padding-top: 5px;
  padding-left: 0px;
  width: auto;
  max-width: 100%;
  padding-bottom: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .contact2 {
    animation: none;
    width: auto;
    height: auto;
    max-width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    font-family: "Audiowide";
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    color: #aab1cb;
    text-align: left;
    text-transform: none;
    line-height: 1.5;
    letter-spacing: normal;
    white-space: pre;
    user-select: text;
    text-decoration-line: none;
    text-overflow: clip;
  }
}
.freeBox__gdzFt {
  animation: none;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gdzFt {
    animation: none;
    display: none;
  }
}
.contact {
  animation: none;
  color: #aab1cb;
  font-family: "Audiowide";
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  height: auto;
  padding-top: 5px;
  padding-left: 0px;
  width: auto;
  max-width: 100%;
  padding-bottom: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .contact {
    animation: none;
    width: auto;
    height: auto;
    max-width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0px;
    font-family: "Audiowide";
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    color: #aab1cb;
    text-align: left;
    text-transform: none;
    line-height: 1.5;
    letter-spacing: normal;
    white-space: pre;
    user-select: text;
    text-decoration-line: none;
    text-overflow: clip;
    display: none;
    border-bottom: 3px solid #aab1cb;
  }
}
.freeBox___9Wku {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  align-self: auto;
  row-gap: 230px;
  width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9Wku {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 230px;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    min-width: 0;
    padding: 0px;
  }
}
.freeBox__mXwEk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  align-self: auto;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mXwEk {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }
}
.freeBox__up1Wr {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px 30px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__up1Wr {
    padding-bottom: 5px;
  }
}
.freeBox__fUiIp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fUiIp {
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: center;
  }
}
.text___0PsZx {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  padding-bottom: 0px;
  font-family: "Audiowide";
  font-size: 38px;
  letter-spacing: 0.07em;
  color: #aab1cbb3;
  line-height: 1.3;
  text-transform: uppercase;
  text-decoration-line: none;
  font-style: normal;
  white-space: pre;
  padding-right: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___0PsZx {
    font-size: 14px;
    width: auto;
  }
}
.text__hGjJf {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  padding-bottom: 0px;
  font-family: "Audiowide";
  font-size: 38px;
  letter-spacing: 0.05em;
  color: #aab1cb;
  line-height: 1.3;
  text-transform: uppercase;
  font-style: normal;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hGjJf {
    font-size: 14px;
    width: auto;
  }
}
.freeBox__elhc {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__okvsT {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  padding-bottom: 0px;
  font-family: "Audiowide";
  font-size: 38px;
  letter-spacing: 0.07em;
  color: #aab1cbb3;
  line-height: 1.3;
  text-transform: uppercase;
  text-decoration-line: none;
  font-style: normal;
  white-space: pre;
  padding-right: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__okvsT {
    font-size: 14px;
    width: auto;
  }
}
.text___0SKxC {
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  padding-bottom: 0px;
  font-family: "Audiowide";
  font-size: 38px;
  letter-spacing: 0.08em;
  color: #aab1cb;
  line-height: 1.3;
  text-transform: uppercase;
  font-style: normal;
  padding-top: 0px;
  padding-left: 3px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___0SKxC {
    font-size: 14px;
    width: auto;
    padding-left: 0px;
  }
}
.text__tc2Cz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  color: #d1d5db;
  font-weight: 500;
  padding-top: 6px;
  padding-bottom: 30px;
  line-height: 1.3;
  padding-left: 10px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tc2Cz {
    font-size: 8px;
    padding-bottom: 10px;
    padding-right: 30px;
  }
}
.freeBox___5Ly6Q {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  align-self: auto;
  flex-shrink: 0;
  min-width: 0;
  padding: 0px 62px 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5Ly6Q {
    flex-wrap: nowrap;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: stretch;
    justify-content: center;
    padding-right: 30px;
    padding-top: 0px;
    column-gap: 0px;
    min-width: 0;
  }
}
.freeBox__gFpdo {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  width: 46%;
  height: 100%;
  flex-shrink: 1;
  flex-grow: 0;
  column-gap: 10px;
  min-height: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gFpdo {
    width: auto;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding-right: 0px;
    column-gap: 0px;
  }
}
.freeBox__n0W7 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.link__b9Nku {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  white-space: pre;
  flex-shrink: 0;
  padding: 0px;
}
.svg__ygcqp {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 25px;
  align-self: center;
  color: #d1d5db;
  flex-shrink: 0;
  margin: 2px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__ygcqp {
    width: 13px;
    height: 10px;
    flex-shrink: 0;
  }
}
.text___9YxzI {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  color: #d1d5db;
  flex-shrink: 1;
  flex-grow: 0;
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9YxzI {
    font-size: 9px;
    font-weight: 500;
  }
}
.freeBox__iI64 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  flex-shrink: 1;
  padding: 0px;
}
.link__fx6Ol {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  padding: 0px;
}
.svg__l8VX {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 25px;
  align-self: center;
  color: #d1d5db;
  flex-shrink: 0;
  margin: 2px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__l8VX {
    width: 13px;
    height: 10px;
    max-width: 100%;
    color: #d1d5db;
    flex-shrink: 0;
    margin: 2px 0px 0px;
  }
}
.text__qrZv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  color: #d1d5db;
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qrZv {
    width: auto;
    height: auto;
    max-width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 9px;
    font-weight: 500;
    color: #d1d5db;
    text-align: left;
  }
}
.freeBox___0Leu4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.link__vxnhe {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  white-space: pre;
  padding: 0px;
}
.svg__b6M4S {
  object-fit: cover;
  max-width: 100%;
  width: 30px;
  height: 25px;
  align-self: center;
  color: #d1d5db;
  flex-shrink: 0;
  margin: 2px 0px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__b6M4S {
    width: 13px;
    height: 10px;
    max-width: 100%;
    color: #d1d5db;
    flex-shrink: 0;
    margin: 2px 0px 0px;
  }
}
.text__gFTv5 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  color: #d1d5db;
  font-weight: 600;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gFTv5 {
    width: auto;
    height: auto;
    max-width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 9px;
    font-weight: 500;
    color: #d1d5db;
    text-align: left;
  }
}
