.ariaCheckbox:global(.__wab_instance) {
  object-fit: cover;
  cursor: pointer;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  color: var(--token-eH0ui9Z8vdUd);
  font-family: var(--token-uBloK88CSGs1);
  font-size: var(--token-WKKZ-R_oK_Tf);
  line-height: var(--token-vZJQ8NtyyRaL);
  width: 100%;
  column-gap: var(--token-ckWph6jExiBD);
  min-width: 0;
}
.ariaCheckbox[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.ariaCheckbox[data-readonly]:global(.__wab_instance) {
  cursor: default;
  pointer-events: none;
}
.freeBox {
  position: relative;
  width: var(--token-b3ePK0dgkeOT);
  height: var(--token-b3ePK0dgkeOT);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--token-VXo0Ga-oSXrE);
  border: 2px solid var(--token-ScClhfqWM2fA);
}
.ariaCheckbox[data-focus-visible] .freeBox {
  outline-style: solid;
  outline-color: var(--token--0dnbnLPA8z8);
  outline-offset: 1px;
  outline-width: 2px;
}
.ariaCheckbox[data-indeterminate] .freeBox {
  background: var(--token--0dnbnLPA8z8);
  border-color: var(--token--0dnbnLPA8z8);
}
.ariaCheckbox[data-selected] .freeBox {
  background: var(--token--0dnbnLPA8z8);
  border-color: var(--token--0dnbnLPA8z8);
}
.svg__fUogh {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
}
.ariaCheckbox[data-selected] .svg__fUogh {
  display: block;
}
.svg__tm8Oh {
  position: relative;
  color: #ffffff;
  height: 1em;
  flex-shrink: 0;
}
.ariaCheckbox[data-indeterminate] .svg__tm8Oh {
  display: block;
}
