.ariaTextField:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  row-gap: var(--token-stYr94vaTtdu);
  min-width: 0;
}
.ariaTextField[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.label:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.freeBox__d34Vi {
  display: flex;
  flex-direction: column;
}
.freeBox__wpPz1 {
  flex-direction: row;
  position: absolute;
  height: var(--token-LcbLTE9be6Mi);
  align-items: center;
  justify-content: center;
  z-index: 9;
  left: 0px;
  top: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-yjA7Qrnk0UPa) var(--token-DWFheCHrY8sv);
}
.freeBoxiconStart__wpPz1A9Rz6 {
  display: flex;
}
.slotTargetStart {
  color: var(--token-wnnaWp8AAsY3);
}
.svg__luXTf {
  position: relative;
  height: 1em;
}
.textAreaInputmultiLine:global(.__wab_instance):global(.__wab_instance) {
  display: block;
}
.freeBox___6Vu6I {
  height: var(--token-LcbLTE9be6Mi);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
  flex-shrink: 0;
  display: none;
  padding: var(--token-yjA7Qrnk0UPa) var(--token-DWFheCHrY8sv);
}
.freeBoxiconEnd___6Vu6ILFtfZ {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-wnnaWp8AAsY3);
}
.svg___3SPee {
  position: relative;
  height: 1em;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
