.ariaRadio:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--token-eH0ui9Z8vdUd);
  font-family: var(--token-uBloK88CSGs1);
  font-size: var(--token-WKKZ-R_oK_Tf);
  line-height: var(--token-vZJQ8NtyyRaL);
  width: 100%;
  column-gap: var(--token-ckWph6jExiBD);
  min-width: 0;
}
.ariaRadio[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.freeBox__ucirD {
  display: flex;
  position: relative;
  width: var(--token-b3ePK0dgkeOT);
  height: var(--token-b3ePK0dgkeOT);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  border: 2px solid var(--token-ScClhfqWM2fA);
}
.ariaRadio[data-selected] .freeBox__ucirD {
  background: var(--token--0dnbnLPA8z8);
  border-color: var(--token--0dnbnLPA8z8);
}
.ariaRadio[data-focus-visible] .freeBox__ucirD {
  outline-offset: 1px;
  outline-style: solid;
  outline-color: var(--token--0dnbnLPA8z8);
  outline-width: 2px;
}
.freeBox__jkcDj {
  position: relative;
  background: #ffffff;
  display: none;
  border-radius: 99px;
}
.ariaRadio[data-selected] .freeBox__jkcDj {
  width: var(--token-yjA7Qrnk0UPa);
  height: var(--token-yjA7Qrnk0UPa);
  flex-shrink: 0;
  display: block;
}
