@import url("https://fonts.googleapis.com/css2?family=Lora%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Audiowide%3Aital%2Cwght%400%2C400&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Open+Sans%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-LcbLTE9be6Mi: var(--token-OJSN3W0Myvht);
  --plasmic-token-size-32: var(--token-LcbLTE9be6Mi);
  --token-83JmIveyxKLl: var(--token-0tl2H1TRPHhV);
  --plasmic-token-size-16: var(--token-83JmIveyxKLl);
  --token-ckWph6jExiBD: var(--token-cfon0PHiXQoL);
  --plasmic-token-size-8: var(--token-ckWph6jExiBD);
  --token-oLc5aLTWWoUQ: var(--token-MGudh00NLP3q);
  --plasmic-token-muted-muted-soft-foreground: var(--token-oLc5aLTWWoUQ);
  --token-stYr94vaTtdu: var(--token-RuQNZpYm0Yds);
  --plasmic-token-size-4: var(--token-stYr94vaTtdu);
  --token-1jgmC4jEz5ba: var(--token-PKf5XaFatup3);
  --plasmic-token-size-12: var(--token-1jgmC4jEz5ba);
  --token-8qCN6iQxWOuL: var(--token-ekJK2BNXfyOR);
  --plasmic-token-size-24: var(--token-8qCN6iQxWOuL);
  --token-NVJ7988O0UY5: 1.25rem;
  --plasmic-token-font-lg: var(--token-NVJ7988O0UY5);
  --token-CYLr_YzvuZ1f: #ffffff;
  --plasmic-token-basic-container-background: var(--token-CYLr_YzvuZ1f);
  --token--0dnbnLPA8z8: var(--token-3kYlE5VFDAO5);
  --plasmic-token-brand-brand: var(--token--0dnbnLPA8z8);
  --token-uBloK88CSGs1: Inter;
  --plasmic-token-sans-serif: var(--token-uBloK88CSGs1);
  --token-WKKZ-R_oK_Tf: 1rem;
  --plasmic-token-font-md: var(--token-WKKZ-R_oK_Tf);
  --token-vZJQ8NtyyRaL: 1.25;
  --plasmic-token-line-height-md: var(--token-vZJQ8NtyyRaL);
  --token-yjA7Qrnk0UPa: var(--token-c8-rjzKYORFj);
  --plasmic-token-size-6: var(--token-yjA7Qrnk0UPa);
  --token-qZmHBtaeCmZk: var(--token-Cn459MKRbWu9);
  --plasmic-token-neutral-neutral: var(--token-qZmHBtaeCmZk);
  --token-DxXOOc9WVJJb: var(--token-u2RgMe-uQAju);
  --plasmic-token-destructive-destructive: var(--token-DxXOOc9WVJJb);
  --token-TsUliOMvF6h7: var(--token-MGudh00NLP3q);
  --plasmic-token-muted-muted: var(--token-TsUliOMvF6h7);
  --token-7wHyISW1ypPk: 0.75rem;
  --plasmic-token-font-sm: var(--token-7wHyISW1ypPk);
  --token-SEXz0PP6MX_e: 1;
  --plasmic-token-line-height-sm: var(--token-SEXz0PP6MX_e);
  --token-upml13t4bmQb: 1.4;
  --plasmic-token-line-height-lg: var(--token-upml13t4bmQb);
  --token-VXo0Ga-oSXrE: var(--token-IUVIp1DHBSFd);
  --plasmic-token-size-2: var(--token-VXo0Ga-oSXrE);
  --token-VObflB83aVTT: var(--token-8odYYBvkaHVX);
  --plasmic-token-success-success: var(--token-VObflB83aVTT);
  --token-lvT6nkbP74oF: var(--token-L6pBmIkiSkx4);
  --plasmic-token-warning-warning: var(--token-lvT6nkbP74oF);
  --token-WUoZ4goZlOYj: var(--token-w7EPkOMSh2Xb);
  --plasmic-token-brand-brand-soft: var(--token-WUoZ4goZlOYj);
  --token-AQ05dmwka1s6: var(--token-YTNNB1KtOvN9);
  --plasmic-token-neutral-neutral-soft: var(--token-AQ05dmwka1s6);
  --token-esf_t94ysgq1: var(--token-NyTb7hfbZNyN);
  --plasmic-token-muted-muted-soft: var(--token-esf_t94ysgq1);
  --token-Zuu5CEM_YZol: var(--token-Xs2o77o8RCB-);
  --plasmic-token-success-success-soft: var(--token-Zuu5CEM_YZol);
  --token-2d3ObYITxBgJ: var(--token-BUYkn0c_BT-J);
  --plasmic-token-warning-warning-soft: var(--token-2d3ObYITxBgJ);
  --token-FTsmVxSvV9TH: var(--token-I0_BUYzH206C);
  --plasmic-token-destructive-destructive-soft: var(--token-FTsmVxSvV9TH);
  --token-BTFr7zwEMySc: var(--token-qsHKKmoi9Z2N);
  --plasmic-token-brand-brand-border: var(--token-BTFr7zwEMySc);
  --token-UVeQZEZQ7xQz: var(--token-GQQSYIXwL9h_);
  --plasmic-token-neutral-neutral-border: var(--token-UVeQZEZQ7xQz);
  --token-YxjZ8PimyGkF: var(--token-YTNNB1KtOvN9);
  --plasmic-token-muted-muted-border: var(--token-YxjZ8PimyGkF);
  --token-Pjut5lIEg3l1: var(--token-Y7e5ggCd09M6);
  --plasmic-token-success-success-border: var(--token-Pjut5lIEg3l1);
  --token-1ncaPRQcYqYu: var(--token-N2GVB8b4MTkJ);
  --plasmic-token-warning-warning-border: var(--token-1ncaPRQcYqYu);
  --token-4bBzbhpUGSFY: var(--token-8XWkpFEFETNw);
  --plasmic-token-destructive-destructive-border: var(--token-4bBzbhpUGSFY);
  --token-36euWVlFMUGT: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-36euWVlFMUGT);
  --token-8kqob4g3an_S: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-8kqob4g3an_S);
  --token-6hSGIbw02Ttd: #00000033;
  --plasmic-token-interaction-pressed: var(--token-6hSGIbw02Ttd);
  --token-DWFheCHrY8sv: var(--token-vINZR3MlEOSB);
  --plasmic-token-size-10: var(--token-DWFheCHrY8sv);
  --token-zWVC5yaVLwJC: var(--token-M0LHGDR880st);
  --plasmic-token-brand-brand-foreground: var(--token-zWVC5yaVLwJC);
  --token-gmC3SOehxMbX: var(--token-w0BmYAdVh1BD);
  --plasmic-token-neutral-neutral-foreground: var(--token-gmC3SOehxMbX);
  --token-aoIZ5INR2o7j: var(--token-YTNNB1KtOvN9);
  --plasmic-token-muted-muted-foreground: var(--token-aoIZ5INR2o7j);
  --token-MyBRw6t1z2eg: var(--token-wXhZBDyFIH77);
  --plasmic-token-brand-brand-soft-foreground: var(--token-MyBRw6t1z2eg);
  --token-K8h9QNrAOVS1: var(--token-IM1QVYeIZBIA);
  --plasmic-token-warning-warning-foreground: var(--token-K8h9QNrAOVS1);
  --token-qgz-kdtBSbE8: var(--token-d5rxOApLiBXu);
  --plasmic-token-success-success-foreground: var(--token-qgz-kdtBSbE8);
  --token-J5jp7qB8JK0N: var(--token-wO2qMySVKYXU);
  --plasmic-token-destructive-destructive-foreground: var(--token-J5jp7qB8JK0N);
  --token-ygEmK-g2ArTX: var(--token-ZnueTOHp2Zir);
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-ygEmK-g2ArTX);
  --token-VBYGjF6GTfA-: var(--token-MD2kb85IOAun);
  --plasmic-token-success-success-soft-foreground: var(--token-VBYGjF6GTfA-);
  --token-NrPFoimzmzkL: var(--token-Work-inyFZuD);
  --plasmic-token-warning-warning-soft-foreground: var(--token-NrPFoimzmzkL);
  --token-ceG0PBu9_J_5: var(--token-c1-8q9kxmrq_);
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-ceG0PBu9_J_5
  );
  --token-eH0ui9Z8vdUd: var(--token-4Cdw41zGDm2p);
  --plasmic-token-basic-text-primary: var(--token-eH0ui9Z8vdUd);
  --token-wnnaWp8AAsY3: var(--token-MGudh00NLP3q);
  --plasmic-token-basic-text-secondary: var(--token-wnnaWp8AAsY3);
  --token-b3ePK0dgkeOT: var(--token-TONjX_YbO9_T);
  --plasmic-token-size-20: var(--token-b3ePK0dgkeOT);
  --token-ScClhfqWM2fA: var(--token-RN6-6smk2YHi);
  --plasmic-token-basic-ring: var(--token-ScClhfqWM2fA);
  --token-1x_miFpHp2xC: #d1d5db;
  --plasmic-token-basic-border: var(--token-1x_miFpHp2xC);
  --token-DWnM-ML93BFT: var(--token-YTNNB1KtOvN9);
  --plasmic-token-muted-muted-soft-hover: var(--token-DWnM-ML93BFT);
  --token-3F5h4qYYVfWA: var(--token-YTNNB1KtOvN9);
  --plasmic-token-basic-input-background: var(--token-3F5h4qYYVfWA);
  --token-iK0N8RIApbaO: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-iK0N8RIApbaO);
  --token-pPqoj173BE7y: var(--token-c-y4Lbl8pLuG);
  --plasmic-token-basic-container-background-dark: var(--token-pPqoj173BE7y);
  --token-okDFRaxBA-Iw: #aab1cb;
  --plasmic-token-blue-dark: var(--token-okDFRaxBA-Iw);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

@keyframes unnamedAnimationV9SK2BdDuJtK {
  0% {
  }
}
@keyframes bouncemz8PGamSoahc {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  20% {
    transform: translate3d(0px, 0px, 0);
  }
  40% {
    transform: translate3d(0, -30px, 0) scale3d(1, 1.1, 1);
  }
  43% {
    transform: translate3d(0, -30px, 0) scale3d(1, 1.1, 1);
  }
  53% {
    transform: translate3d(0px, 0px, 0);
  }
  70% {
    transform: translate3d(0, -15px, 0) scale3d(1, 1.05, 1);
  }
  80% {
    transform: translate3d(0px, 0px, 0) scale3d(1, 0.95, 1);
  }
  90% {
    transform: translate3d(0, -4px, 0) scale3d(1, 1.02, 1);
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes flashgywO1JkB0C0B {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse0DlLe3ZmR0Lr {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes shakeXi3E22TKhl0K5 {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  10% {
    transform: translate3d(-10px, 0, 0);
  }
  20% {
    transform: translate3d(10px, 0, 0);
  }
  30% {
    transform: translate3d(-10px, 0, 0);
  }
  40% {
    transform: translate3d(10px, 0, 0);
  }
  50% {
    transform: translate3d(-10px, 0, 0);
  }
  60% {
    transform: translate3d(10px, 0, 0);
  }
  70% {
    transform: translate3d(-10px, 0, 0);
  }
  80% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-10px, 0, 0);
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes shakeYl0KBo9LjTzBs {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  10% {
    transform: translate3d(0, -10px, 0);
  }
  20% {
    transform: translate3d(0, 10px, 0);
  }
  30% {
    transform: translate3d(0, -10px, 0);
  }
  40% {
    transform: translate3d(0, 10px, 0);
  }
  50% {
    transform: translate3d(0, -10px, 0);
  }
  60% {
    transform: translate3d(0, 10px, 0);
  }
  70% {
    transform: translate3d(0, -10px, 0);
  }
  80% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -10px, 0);
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes bounceIn3HoXu1Wp6Gs8 {
  0% {
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceInDownhp0HXew9IovK {
  0% {
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0) scale3d(1, 3, 1);
  }
  60% {
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0) scale3d(1, 0.9, 1);
  }
  75% {
  }
  75% {
    transform: translate3d(0, -10px, 0) scale3d(1, 0.95, 1);
  }
  90% {
  }
  90% {
    transform: translate3d(0, 5px, 0) scale3d(1, 0.985, 1);
  }
  100% {
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes bounceInUpOuEx47B0Gs0N {
  0% {
  }
  0% {
    opacity: 0;
    transform: translate3d(0, 3000px, 0) scale3d(1, 5, 1);
  }
  60% {
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0) scale3d(1, 0.9, 1);
  }
  75% {
  }
  75% {
    transform: translate3d(0, 10px, 0) scale3d(1, 0.95, 1);
  }
  90% {
  }
  90% {
    transform: translate3d(0, -5px, 0) scale3d(1, 0.985, 1);
  }
  100% {
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes bounceOutDi9YSaoElcP {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}
@keyframes bounceOutDownhEnFj0ViWren {
  20% {
    transform: translate3d(0, 10px, 0) scale3d(1, 0.985, 1);
  }
  40% {
    opacity: 1;
    transform: translate3d(0, -20px, 0) scale3d(1, 0.9, 1);
  }
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0) scale3d(1, 0.9, 1);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 2000px, 0) scale3d(1, 3, 1);
  }
}
@keyframes bounceOutUpxZzUzYpvBef {
  20% {
    transform: translate3d(0, -10px, 0) scale3d(1, 0.985, 1);
  }
  40% {
    opacity: 1;
    transform: translate3d(0, 20px, 0) scale3d(1, 0.9, 1);
  }
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0) scale3d(1, 0.9, 1);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -2000px, 0) scale3d(1, 3, 1);
  }
}
@keyframes fadeInK8AS4CD8LxJc {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInDown3Wejw0KdhvkT {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes fadeInLeft4B8ZYZskL8T {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes fadeInRightKdx1R1C3TK5 {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes fadeInUpCv8T94HMzoj {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes fadeOutWsmExWsKHehM {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOutDownxkwpUuxkXaKh {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes fadeOutLeft4I7FfzXpTQqw {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes fadeOutRightv7VeJyZf8OiV {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes fadeOutUpWcnCocbUJlyZ {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes zoomIn8EsQyUe1F6D {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomInDownnKgmoIh8EcU {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
  }
}
@keyframes zoomInUpwDQdAk9BrYhY {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
  }
}
@keyframes zoomOut8XcUEhcTFz {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 0;
  }
}
@keyframes zoomOutDownT1UpFUnBqbit {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
  }
  100% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
  }
}
@keyframes zoomOutUpMkD1Et3X2Ko {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
  }
  100% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
  }
}
@keyframes slideInDownHU23SDnaGbj {
  0% {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes slideInLeftamPxFrYy2Bqz {
  0% {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes slideInRighttlJWuYi8YUnT {
  0% {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes slideInUpl416FyqrLiVp {
  0% {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0px, 0px, 0);
  }
}
@keyframes slideOutDownIqTsEfKh0RaO {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  100% {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes slideOutLeftyGtWsF8QcRpo {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  100% {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes slideOutRightJr7Y0RUtQox {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  100% {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes slideOutUpxSnDqhPupUr {
  0% {
    transform: translate3d(0px, 0px, 0);
  }
  100% {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

.plasmic_default_styles {
  --mixin-3paR1tLzG5op_font-family: "Lora", serif;
  --mixin-3paR1tLzG5op_font-size: 16px;
  --mixin-3paR1tLzG5op_font-weight: 400;
  --mixin-3paR1tLzG5op_font-style: normal;
  --mixin-3paR1tLzG5op_color: var(--token-1x_miFpHp2xC);
  --mixin-3paR1tLzG5op_text-align: left;
  --mixin-3paR1tLzG5op_text-transform: none;
  --mixin-3paR1tLzG5op_line-height: 1.5;
  --mixin-3paR1tLzG5op_letter-spacing: normal;
  --mixin-3paR1tLzG5op_white-space: pre-wrap;
  --mixin-3paR1tLzG5op_user-select: text;
  --mixin-3paR1tLzG5op_text-decoration-line: none;
  --mixin-3paR1tLzG5op_text-overflow: clip;
  --mixin-CrPis9hFw1XJ_font-weight: 700;
  --mixin-CrPis9hFw1XJ_font-size: 64px;
  --mixin-CrPis9hFw1XJ_line-height: 1;
  --mixin-CrPis9hFw1XJ_letter-spacing: -1px;
  --mixin-CrPis9hFw1XJ_white-space: pre-wrap;
  --mixin-Qtxds0hzs1WC_font-size: 48px;
  --mixin-Qtxds0hzs1WC_font-weight: 700;
  --mixin-Qtxds0hzs1WC_letter-spacing: -0.5px;
  --mixin-Qtxds0hzs1WC_line-height: 1.1;
  --mixin-Qtxds0hzs1WC_white-space: pre-wrap;
  --mixin-PPM547c6xS2F_color: #0070f3;
  --mixin-PPM547c6xS2F_white-space: pre-wrap;
  --mixin-IZF-9SxHUybs_font-size: 32px;
  --mixin-IZF-9SxHUybs_font-weight: 600;
  --mixin-IZF-9SxHUybs_line-height: 1.2;
  --mixin-IZF-9SxHUybs_white-space: pre-wrap;
  --mixin-iCBXfhqO_7X9_font-size: 24px;
  --mixin-iCBXfhqO_7X9_font-weight: 600;
  --mixin-iCBXfhqO_7X9_line-height: 1.3;
  --mixin-iCBXfhqO_7X9_white-space: pre-wrap;
  --mixin-66yWB9eGMVly_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-66yWB9eGMVly_border-bottom-color: #dddddd;
  --mixin-66yWB9eGMVly_border-bottom-style: solid;
  --mixin-66yWB9eGMVly_border-bottom-width: 1px;
  --mixin-66yWB9eGMVly_border-left-color: #dddddd;
  --mixin-66yWB9eGMVly_border-left-style: solid;
  --mixin-66yWB9eGMVly_border-left-width: 1px;
  --mixin-66yWB9eGMVly_border-right-color: #dddddd;
  --mixin-66yWB9eGMVly_border-right-style: solid;
  --mixin-66yWB9eGMVly_border-right-width: 1px;
  --mixin-66yWB9eGMVly_border-top-color: #dddddd;
  --mixin-66yWB9eGMVly_border-top-style: solid;
  --mixin-66yWB9eGMVly_border-top-width: 1px;
  --mixin-66yWB9eGMVly_border-bottom-left-radius: 3px;
  --mixin-66yWB9eGMVly_border-bottom-right-radius: 3px;
  --mixin-66yWB9eGMVly_border-top-left-radius: 3px;
  --mixin-66yWB9eGMVly_border-top-right-radius: 3px;
  --mixin-66yWB9eGMVly_font-family: "Inconsolata";
  --mixin-66yWB9eGMVly_padding-bottom: 1px;
  --mixin-66yWB9eGMVly_padding-left: 4px;
  --mixin-66yWB9eGMVly_padding-right: 4px;
  --mixin-66yWB9eGMVly_padding-top: 1px;
  --mixin-66yWB9eGMVly_white-space: pre-wrap;
  --mixin-KNPZrspCVtiM_border-left-color: #dddddd;
  --mixin-KNPZrspCVtiM_border-left-style: solid;
  --mixin-KNPZrspCVtiM_border-left-width: 3px;
  --mixin-KNPZrspCVtiM_color: #888888;
  --mixin-KNPZrspCVtiM_padding-left: 10px;
  --mixin-KNPZrspCVtiM_white-space: pre-wrap;
  --mixin-E92RxqOPTf5K_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-E92RxqOPTf5K_border-bottom-color: #dddddd;
  --mixin-E92RxqOPTf5K_border-bottom-style: solid;
  --mixin-E92RxqOPTf5K_border-bottom-width: 1px;
  --mixin-E92RxqOPTf5K_border-left-color: #dddddd;
  --mixin-E92RxqOPTf5K_border-left-style: solid;
  --mixin-E92RxqOPTf5K_border-left-width: 1px;
  --mixin-E92RxqOPTf5K_border-right-color: #dddddd;
  --mixin-E92RxqOPTf5K_border-right-style: solid;
  --mixin-E92RxqOPTf5K_border-right-width: 1px;
  --mixin-E92RxqOPTf5K_border-top-color: #dddddd;
  --mixin-E92RxqOPTf5K_border-top-style: solid;
  --mixin-E92RxqOPTf5K_border-top-width: 1px;
  --mixin-E92RxqOPTf5K_border-bottom-left-radius: 3px;
  --mixin-E92RxqOPTf5K_border-bottom-right-radius: 3px;
  --mixin-E92RxqOPTf5K_border-top-left-radius: 3px;
  --mixin-E92RxqOPTf5K_border-top-right-radius: 3px;
  --mixin-E92RxqOPTf5K_font-family: "Inconsolata";
  --mixin-E92RxqOPTf5K_padding-bottom: 3px;
  --mixin-E92RxqOPTf5K_padding-left: 6px;
  --mixin-E92RxqOPTf5K_padding-right: 6px;
  --mixin-E92RxqOPTf5K_padding-top: 3px;
  --mixin-E92RxqOPTf5K_white-space: pre-wrap;
  --mixin-BDbieYxueOD3_display: flex;
  --mixin-BDbieYxueOD3_flex-direction: column;
  --mixin-BDbieYxueOD3_align-items: stretch;
  --mixin-BDbieYxueOD3_justify-content: flex-start;
  --mixin-BDbieYxueOD3_list-style-position: outside;
  --mixin-BDbieYxueOD3_padding-left: 40px;
  --mixin-BDbieYxueOD3_position: relative;
  --mixin-BDbieYxueOD3_list-style-type: disc;
  --mixin-BDbieYxueOD3_white-space: pre-wrap;
  --mixin-b2GBhnmdkSp8_display: flex;
  --mixin-b2GBhnmdkSp8_flex-direction: column;
  --mixin-b2GBhnmdkSp8_align-items: stretch;
  --mixin-b2GBhnmdkSp8_justify-content: flex-start;
  --mixin-b2GBhnmdkSp8_list-style-position: outside;
  --mixin-b2GBhnmdkSp8_padding-left: 40px;
  --mixin-b2GBhnmdkSp8_position: relative;
  --mixin-b2GBhnmdkSp8_list-style-type: decimal;
  --mixin-b2GBhnmdkSp8_white-space: pre-wrap;
  --mixin-JZYlgIwA-5a6_font-size: 20px;
  --mixin-JZYlgIwA-5a6_font-weight: 600;
  --mixin-JZYlgIwA-5a6_line-height: 1.5;
  --mixin-JZYlgIwA-5a6_white-space: pre-wrap;
  --mixin-YQoLtFOqal3N_font-size: 16px;
  --mixin-YQoLtFOqal3N_font-weight: 600;
  --mixin-YQoLtFOqal3N_line-height: 1.5;
  --mixin-YQoLtFOqal3N_white-space: pre-wrap;
  --mixin-cU_9FtRS-Oyk_color: #3291ff;
  --mixin-cU_9FtRS-Oyk_white-space: pre-wrap;
  --mixin-8FsvWs4Uqffu_white-space: pre-wrap;
  --mixin-VxTul7JB5VqQ_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.i) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text i) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.em) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text em) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.strong) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text strong) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-3paR1tLzG5op_font-family);
  font-size: var(--mixin-3paR1tLzG5op_font-size);
  font-weight: var(--mixin-3paR1tLzG5op_font-weight);
  font-style: var(--mixin-3paR1tLzG5op_font-style);
  color: var(--mixin-3paR1tLzG5op_color);
  text-align: var(--mixin-3paR1tLzG5op_text-align);
  text-transform: var(--mixin-3paR1tLzG5op_text-transform);
  line-height: var(--mixin-3paR1tLzG5op_line-height);
  letter-spacing: var(--mixin-3paR1tLzG5op_letter-spacing);
  white-space: var(--mixin-3paR1tLzG5op_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-weight: var(--mixin-CrPis9hFw1XJ_font-weight);
  font-size: var(--mixin-CrPis9hFw1XJ_font-size);
  line-height: var(--mixin-CrPis9hFw1XJ_line-height);
  letter-spacing: var(--mixin-CrPis9hFw1XJ_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-size: var(--mixin-Qtxds0hzs1WC_font-size);
  font-weight: var(--mixin-Qtxds0hzs1WC_font-weight);
  letter-spacing: var(--mixin-Qtxds0hzs1WC_letter-spacing);
  line-height: var(--mixin-Qtxds0hzs1WC_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-PPM547c6xS2F_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-size: var(--mixin-IZF-9SxHUybs_font-size);
  font-weight: var(--mixin-IZF-9SxHUybs_font-weight);
  line-height: var(--mixin-IZF-9SxHUybs_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-size: var(--mixin-iCBXfhqO_7X9_font-size);
  font-weight: var(--mixin-iCBXfhqO_7X9_font-weight);
  line-height: var(--mixin-iCBXfhqO_7X9_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-66yWB9eGMVly_font-family);
  border-radius: var(--mixin-66yWB9eGMVly_border-top-left-radius)
    var(--mixin-66yWB9eGMVly_border-top-right-radius)
    var(--mixin-66yWB9eGMVly_border-bottom-right-radius)
    var(--mixin-66yWB9eGMVly_border-bottom-left-radius);
  padding: var(--mixin-66yWB9eGMVly_padding-top)
    var(--mixin-66yWB9eGMVly_padding-right)
    var(--mixin-66yWB9eGMVly_padding-bottom)
    var(--mixin-66yWB9eGMVly_padding-left);
  border-top: var(--mixin-66yWB9eGMVly_border-top-width)
    var(--mixin-66yWB9eGMVly_border-top-style)
    var(--mixin-66yWB9eGMVly_border-top-color);
  border-right: var(--mixin-66yWB9eGMVly_border-right-width)
    var(--mixin-66yWB9eGMVly_border-right-style)
    var(--mixin-66yWB9eGMVly_border-right-color);
  border-bottom: var(--mixin-66yWB9eGMVly_border-bottom-width)
    var(--mixin-66yWB9eGMVly_border-bottom-style)
    var(--mixin-66yWB9eGMVly_border-bottom-color);
  border-left: var(--mixin-66yWB9eGMVly_border-left-width)
    var(--mixin-66yWB9eGMVly_border-left-style)
    var(--mixin-66yWB9eGMVly_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-KNPZrspCVtiM_color);
  padding-left: var(--mixin-KNPZrspCVtiM_padding-left);
  border-left: var(--mixin-KNPZrspCVtiM_border-left-width)
    var(--mixin-KNPZrspCVtiM_border-left-style)
    var(--mixin-KNPZrspCVtiM_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-E92RxqOPTf5K_font-family);
  border-radius: var(--mixin-E92RxqOPTf5K_border-top-left-radius)
    var(--mixin-E92RxqOPTf5K_border-top-right-radius)
    var(--mixin-E92RxqOPTf5K_border-bottom-right-radius)
    var(--mixin-E92RxqOPTf5K_border-bottom-left-radius);
  padding: var(--mixin-E92RxqOPTf5K_padding-top)
    var(--mixin-E92RxqOPTf5K_padding-right)
    var(--mixin-E92RxqOPTf5K_padding-bottom)
    var(--mixin-E92RxqOPTf5K_padding-left);
  border-top: var(--mixin-E92RxqOPTf5K_border-top-width)
    var(--mixin-E92RxqOPTf5K_border-top-style)
    var(--mixin-E92RxqOPTf5K_border-top-color);
  border-right: var(--mixin-E92RxqOPTf5K_border-right-width)
    var(--mixin-E92RxqOPTf5K_border-right-style)
    var(--mixin-E92RxqOPTf5K_border-right-color);
  border-bottom: var(--mixin-E92RxqOPTf5K_border-bottom-width)
    var(--mixin-E92RxqOPTf5K_border-bottom-style)
    var(--mixin-E92RxqOPTf5K_border-bottom-color);
  border-left: var(--mixin-E92RxqOPTf5K_border-left-width)
    var(--mixin-E92RxqOPTf5K_border-left-style)
    var(--mixin-E92RxqOPTf5K_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-BDbieYxueOD3_display);
  flex-direction: var(--mixin-BDbieYxueOD3_flex-direction);
  align-items: var(--mixin-BDbieYxueOD3_align-items);
  justify-content: var(--mixin-BDbieYxueOD3_justify-content);
  list-style-position: var(--mixin-BDbieYxueOD3_list-style-position);
  padding-left: var(--mixin-BDbieYxueOD3_padding-left);
  position: var(--mixin-BDbieYxueOD3_position);
  list-style-type: var(--mixin-BDbieYxueOD3_list-style-type);
  column-gap: var(--mixin-BDbieYxueOD3_column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-b2GBhnmdkSp8_display);
  flex-direction: var(--mixin-b2GBhnmdkSp8_flex-direction);
  align-items: var(--mixin-b2GBhnmdkSp8_align-items);
  justify-content: var(--mixin-b2GBhnmdkSp8_justify-content);
  list-style-position: var(--mixin-b2GBhnmdkSp8_list-style-position);
  padding-left: var(--mixin-b2GBhnmdkSp8_padding-left);
  position: var(--mixin-b2GBhnmdkSp8_position);
  list-style-type: var(--mixin-b2GBhnmdkSp8_list-style-type);
  column-gap: var(--mixin-b2GBhnmdkSp8_column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-size: var(--mixin-JZYlgIwA-5a6_font-size);
  font-weight: var(--mixin-JZYlgIwA-5a6_font-weight);
  line-height: var(--mixin-JZYlgIwA-5a6_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-size: var(--mixin-YQoLtFOqal3N_font-size);
  font-weight: var(--mixin-YQoLtFOqal3N_font-weight);
  line-height: var(--mixin-YQoLtFOqal3N_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-cU_9FtRS-Oyk_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
